<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
    <%- include('includes/header') %>
    <main>
        <div style="text-align: center;">
            <p>unauthorized to view this post</p>
            <a href="/">back to dashboard</a>
        </div>
    </main>
    <%- include('includes/footer') %>
</body>

</html>