#deletePopup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    text-align: center;
}
#deletePopup>button{
    width: 5rem;
    margin: 0 0.25rem;
}